[submodule "Runtime/Luny"]
	path = Runtime/Luny
	url = https://github.com/CodeSmile-0000011110110111/Luny-CSharp
[submodule "Runtime/LunyScript"]
	path = Runtime/LunyScript
	url = https://github.com/CodeSmile-0000011110110111/LunyScript-CSharp
[submodule "Runtime/Luny.Unity"]
	path = Runtime/Luny.Unity
	url = https://github.com/CodeSmile-0000011110110111/Luny-CSharp-Unity
[submodule "Runtime/LunyScript.Unity"]
	path = Runtime/LunyScript.Unity
	url = https://github.com/CodeSmile-0000011110110111/LunyScript-CSharp-Unity
