[submodule "Luny"]
	path = Luny
	url = https://github.com/CodeSmile-0000011110110111/Luny
[submodule "LunyScript"]
	path = LunyScript
	url = https://github.com/CodeSmile-0000011110110111/LunyScript
[submodule "Luny.Unity"]
	path = Luny.Unity
	url = https://github.com/CodeSmile-0000011110110111/Luny.Unity
[submodule "LunyScript.Unity"]
	path = LunyScript.Unity
	url = https://github.com/CodeSmile-0000011110110111/LunyScript.Unity
